* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(126, 174, 127);
    color: #000000;
    margin-top: 20px;
}


.header {
    background-color: #3a6e1b;
    /* padding: 20px; */
    width: 100%; 
    max-width: none; /* Максимальная ширина */
    /* border-radius: 40px;  */
    /* margin: 20px auto; Центрирование по горизонтали */
    /* text-align: center; Центрирование текста внутри */
}

.contacs {
    background-color: #1b1518;
}

.menu {
    position: fixed;
    top: 23px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

/* Стили для кнопок */
.menu button {
    background-color: #ec8888;
    color: rgb(4, 86, 38);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.menu button:hover {
    background-color: #666;
}

/* Стили для модального окна */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(223, 231, 179);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* display: none; */
}

.modal.active {
    display: block;
    background: rgb(223, 231, 179);
}

.modal .close {
    background: rgb(64, 5, 46);
    color: rgba(177, 244, 216, 0.3);
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
}